*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#particles-js{
    height: auto;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
hr{
    display: flex;
    border-style: dotted none none;
    border-color: #1e72a6;
    border-width: 5px;
    width: 5%;
    margin:  auto ;
   

    
}
/* STart of SEction 1 */
/* logo  */
.rohan{
    color: rgb(197, 152, 96);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    transition: 1s;  
    margin: auto ; 
}

.logo-active{
    transform: rotate(360deg);
    
}
.rohan:hover{
    font-size: 1.5625rem;
}
/* logo end */
/* navigation bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    background :linear-gradient(to right top,#CBF1F5, #A6E3E9);
    min-height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 999; 
}


.nav-links{
    display: flex;
    justify-content: space-between;
    width: 40%;
    z-index: 9999;
    

}
.nav-links li{
    list-style: none;
    transition-duration: .3s;
    z-index: 9999;
    padding: 0 20px 0 20px;
    margin: auto;
}
.nav-links li:hover{
    color: aqua;
    font-weight: bold;
    font-size: 1.25rem;
}
/* \End of navigation bar */
/* contact button */
.btn {
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 1rem;
    background: #58abe3;
    padding: 7px 13px 7px 13px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1e72a6;
    text-decoration: none;
  }
/* End of contact button */


.burgerlines{
    display: none;
    margin-right: -90px;
    z-index: 999;
    
}
.burgerlines div{
    background-color: rgb(24, 22, 22);
    width: 30px;
    height: 4px;
    margin: 5px;
    transition: 0.5s;
    
}
@media screen and (max-width: 1343px){
    .nav-links{
        font-size: 1.05rem;
        width: 50%;
    }
    .btn{
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 1164px){
    .nav-links{
        font-size: 1.05rem;
        justify-content: space-around;
        width: 60%;
    }
    .btn{
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 1024px){
    .nav-links{
        font-size: 1.05rem;
        justify-content: space-around;
        width: 70%;
    }
    .btn{
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 1200px){
    .nav-links{
        justify-content: space-around;
        width: 60%;
    }
}
@media screen and (max-width: 820px){
    .nav-links{
        justify-content: space-around;
        width: 60%;
        padding: 0%;
    }
}
@media screen and (max-width : 768px) {
    body{
        overflow-x: hidden;
    }
    .logo{
        margin-left: -100px;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: rgb(113, 221, 248);
        display: flex;
        flex-direction: column;
        font-weight: bold;
        width: 60%;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        
        
    }
    .nav-links li{
        opacity: 0;
        
    }
    .burgerlines{
        display: block;
        cursor: pointer;
        
    }
    
}
.nav-active{
    transform: translateX(0%);
}
li.fade{
    opacity: 1;
    z-index: 99;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.wholepage{
    width: 100%;
}
/* landing page */

.homepage{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #E3FDFD;   
}
.clouds{
    opacity: .6;
}
.cloud1{
    position: absolute;
    height: 35vh;
    right: 18%;
    top: 14%;
}
.cloud2{
    position: absolute;
    height: 35vh;
    right: 45%;
    top: 14%;
}
.child{
    position: absolute;
    align-items: center;
    height: 60vh;
    right: 8%;
    top: 25%;

}
/* for circle 1 */
.circle1{
    position:absolute;
    align-items: center;
    height: 45vh;
    left: 10%;
    top: 20%;
}
.hi{
    position: absolute;
    font-weight: bold;
    font-size: 4.375rem;
    left: 17%;
    top: 34%;
    transform: rotate(-20deg);
    text-transform: uppercase;
    font-family: 'Festive', cursive;
}

/* End of circle ! */
/* for circle 2 */
.circle2{
    position: absolute;
    align-items: center;
    height: 38vh;
    left: 18%;
    top: 45%;
}
.myname{
    position: absolute;
    font-weight: bold;
    font-size: 2.1875rem;
    left: 19.5%;
    top: 58%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    transform: rotate(-10deg);
}
/* End of circle 2 */
/* For circle 3 */
.circle3{
    position:absolute;
    align-items: center;
    height: 28vh;
    left: 30%;
    top: 32%;
}
.std{
    position: absolute;
    font-weight: bold;
    font-size: 1.5625rem;
    left: 33%;
    top: 39%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Redressed', cursive;
    transform: rotate(10deg);
}
.mid-a{
    font-size: 2.1875rem;
}
/* responsiveness */
@media screen and  (max-width : 1024px) {
    .child{
        position: absolute;
        align-items: center;
        height: 45vh;
        right: -2%;
        top: 12%;
    
    }
    .cloud1{
        position: absolute;
        height: 15vh;
        right: 52%;
        top: 10%;
    }
    .cloud2{
        position: absolute;
        height: 15vh;
        right: 25%;
        top: 10%;
    }
    .circle1{
        position:absolute;
        align-items: center;
        height: 35vh;
        left: 1%;
        top: 40%;
    }
    .hi{
        position: absolute;
        font-weight: bold;
        font-size: 5.75rem;
        left: 16%;
        top: 48%;
        transform: rotate(-20deg);
        text-transform: uppercase;
        font-family: 'Festive', cursive;
    }
    .circle2{
        position:absolute;
        align-items: center;
        height: 28vh;
        left: 12%;
        top: 58%;
    }
    .myname{
        position: absolute;
        font-weight: bold;
        font-size: 2rem;
        left: 19.5%;
        top: 67%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        transform: rotate(-16deg);
    }
    
    .circle3{
        position:absolute;
        align-items: center;
        height: 23vh;
        left: 32%;
        top: 72%;
        z-index: 2;
    }
    .std{
        position: absolute;
        font-weight: bold;
        font-size: 1.75rem;
        left: 39%;
        top : 79%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Redressed', cursive;
        transform: rotate(-16deg);
        z-index: 3;
    }
}

@media screen and  (max-width : 820px) {
    .child{
        position: absolute;
        align-items: center;
        height: 40vh;
        right: 1%;
        top: 12%;
    
    }
    .cloud1{
        position: absolute;
        height: 15vh;
        right: 48%;
        top: 10%;
    }
    .cloud2{
        position: absolute;
        height: 15vh;
        right: 25%;
        top: 10%;
    }
    .circle1{
        position:absolute;
        align-items: center;
        height: 35vh;
        left: 2%;
        top: 40%;
    }
    .hi{
        position: absolute;
        font-weight: bold;
        font-size: 4.75rem;
        left: 19%;
        top: 48%;
        transform: rotate(-20deg);
        text-transform: uppercase;
        font-family: 'Festive', cursive;
    }
    .circle2{
        position:absolute;
        align-items: center;
        height: 29vh;
        left: 15%;
        top: 60%;
    }
    .myname{
        position: absolute;
        font-weight: bold;
        font-size: 2rem;
        left: 21%;
        top: 68%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        transform: rotate(-18deg);
    }
    
    .circle3{
        position:absolute;
        align-items: center;
        height: 25vh;
        left: 34%;
        top: 74%;
    }
    .std{
        position: absolute;
        font-weight: bold;
        font-size: 1.5rem;
        left: 45%;
        top: 82%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Redressed', cursive;
        transform: rotate(-18deg);
    }
}
@media screen and  (max-width : 480px) {
    .child{
        position: absolute;
        align-items: center;
        height: 30vh;
        width: 275px;
        right: 0%;
        top: 15%;
    
    }
    .cloud1{
        position: absolute;
        height: 15vh;
        right: 48%;
        top: 10%;
    }
    .cloud2{
        position: absolute;
        height: 15vh;
        right: 15%;
        top: 10%;
    }
    .circle1{
        position:absolute;
        align-items: center;
        height: 30vh;
        left: 2%;
        top: 45%;
    }
    .hi{
        position: absolute;
        font-weight: bold;
        font-size: 4.75rem;
        left: 18%;
        top: 49%;
        transform: rotate(-20deg);
        text-transform: uppercase;
        font-family: 'Festive', cursive;
    }
    .circle2{
        position:absolute;
        align-items: center;
        height: 27vh;
        left: 15%;
        top: 62%;
    }
    .myname{
        position: absolute;
        font-weight: bold;
        font-size: 1.5rem;
        left: 20%;
        top: 68%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        transform: rotate(-18deg);
    }
    
    .circle3{
        position:absolute;
        align-items: center;
        height: 21vh;
        left: 42%;
        top: 76%;
    }
    .std{
        position: absolute;
        font-weight: bold;
        font-size: 1.25rem;
        left: 50%;
        top: 82%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Redressed', cursive;
        transform: rotate(-18deg);
    }
}

@media screen and  (max-width : 375px) {
    .child{
        position: absolute;
        align-items: center;
        height: 30vh;
        width: 275px;
        right: 0%;
        top: 15%;
    
    }
    .cloud1{
        position: absolute;
        height: 15vh;
        right: 48%;
        top: 10%;
    }
    .cloud2{
        position: absolute;
        height: 15vh;
        right: 15%;
        top: 10%;
    }
    .circle1{
        position:absolute;
        align-items: center;
        height: 30vh;
        left: 2%;
        top: 45%;
    }
    .hi{
        position: absolute;
        font-weight: bold;
        font-size: 4.75rem;
        left: 12%;
        top: 49%;
        transform: rotate(-20deg);
        text-transform: uppercase;
        font-family: 'Festive', cursive;
    }
    .circle2{
        position:absolute;
        align-items: center;
        height: 27vh;
        left: 15%;
        top: 62%;
    }
    .myname{
        position: absolute;
        font-weight: bold;
        font-size: 1.25rem;
        left: 18%;
        top: 68%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        transform: rotate(-18deg);
    }
    
    .circle3{
        position:absolute;
        align-items: center;
        height: 21vh;
        left: 42%;
        top: 76%;
    }
    .std{
        position: absolute;
        font-weight: bold;
        font-size: 1.05rem;
        left: 50%;
        top: 82%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Redressed', cursive;
        transform: rotate(-18deg);
    }
}
/* End of circle 3 */
/* End of landing page */



/* End of section 1 */
/* section 2 */
.about{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top , #F6F6F6 ,#E3FDFD);
    
}
.h1about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    padding: 175px 100px;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color: #401a64;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.h1about-active{
    transform: rotateX(360deg);
    color: rgb(124, 39, 204);
}
.h1about:hover{
    font-size: 3.25rem;

}
.container{
    position: relative;
}
.aboutme {
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 1.75rem;
    justify-content: left;
    padding-top: -5px;
    margin-left: 15%;
    color: #1d3a4d;
    font-weight: bold;
    text-shadow: 2px 2px 4px #6b6464;
    
    
}
.aboutme p{
    font-size: 1.75rem;
}
.picture{
    position: absolute;
    display: flex;
    align-items: center;
    height: 400px;
    width: 400px;
    top: 35%;
    right: 15%;   
}
.lock{
    height: 60%;
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 22%;
    opacity: 0.2;
    filter: blur(2px);
}
@media screen and (max-width : 1024px){
    .aboutme {
        display: flex;
        align-items: center;
        width: 35%;
        font-size: 1.75rem;
        justify-content: left;
        padding-top: -5px;
        margin-left: 12%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:start;
    }
    .aboutme p{
        font-size: 1.75rem;
    }
    
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 400px;
        width: 380px;
        top: 35%;
        right: 10%;   
    }
    .lock{
        height: 60%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 22%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
@media screen and (max-width : 820px){
    .h1about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding-top: 200px;
        margin-bottom: -50px;
        font-size: 3rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        color: #401a64;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .aboutme {
        display: flex;
        align-items: center;
        width: 35%;
        font-size: 1.55rem;
        justify-content: left;
        margin-left: 10%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:start;
    }
    .aboutme p{
        font-size: 1.5rem;
    }
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 400px;
        width: 380px;
        top: 35%;
        right: 5%;   
    }
    .lock{
        height: 50%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 29%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
@media screen and (max-width : 768px){
    .h1about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding-top: 200px;
        margin-bottom: -50px;
        font-size: 3rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        color: #401a64;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .aboutme {
        display: flex;
        align-items: center;
        width: 35%;
        font-size: 1.55rem;
        justify-content: left;
        margin-left: 10%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:start;
    }
    .aboutme p{
        font-size: 1.35rem;
    }
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 400px;
        width: 380px;
        top: 35%;
        right: 5%;   
    }
    .lock{
        height: 50%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 29%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
@media screen and (max-width : 540px){
    .h1about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding-top: 130px;
        margin-bottom: -50px;
        font-size: 3rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        color: #401a64;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .aboutme {
        display: flex;
        align-items: center;
        width: 35%;
        font-size: 1.45rem;
        justify-content: left;
        margin-left: 10%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:start;
        margin-top: -20%;
    }
    .aboutme p{
        font-size: 1rem;
    }
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 250px;
        width: 250px;
        top: 35%;
        right: 5%;   
    }
    .lock{
        height: 50%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 29%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
@media screen and (max-width : 480px){
    .h1about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding-top: 125px;
        margin-bottom: -50px;
        font-size: 2.5rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        color: #401a64;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .h1about:hover{
        font-size: 2.6rem;
    
    }
    .aboutme{
        display: flex;
        align-items: center;
        width: 85%;
        font-size: 1.27rem;
        justify-content: left;
        padding-top: 150px;
        margin-left: 8%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:center;
    }
    .aboutme p{
        font-size: 1.25rem;
    }
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 200px;
        width: 180px;
        top: 20%;
        right: 28%;   
    }
    .lock{
        height: 40%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 32%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
@media screen and (max-width : 375px){
    .h1about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding-top: 25%;
        margin-bottom: -50px;
        font-size: 2rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        color: #401a64;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .h1about:hover{
        font-size: 2.6rem;
    
    }
    .aboutme{
        display: flex;
        align-items: center;
        width: 85%;
        font-size: 1.05rem;
        justify-content: left;
        padding-top: 115px;
        margin-left: 8%;
        color: #1d3a4d;
        font-weight: bold;
        text-shadow: 2px 2px 4px #6b6464;   
        text-align:center;
    }
    .aboutme p{
        font-size: 1.05rem;
    }
    .picture{
        position: absolute;
        display: flex;
        align-items: center;
        height: 200px;
        width: 180px;
        top: 20%;
        right: 28%;   
    }
    .lock{
        height: 40%;
        width: 45%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 32%;
        opacity: 0.2;
        filter: blur(2px);
    }
}
/* End of section 2 */
/* section 3 */
.about{
    justify-content: center;
    align-items: center;
}
.services{
    height: 100vh;
    background-image: linear-gradient(to top, #65C18C,#F6F6F6);
}
.row{
    display: flex;
    width: 80%;
    margin: auto;
    margin-left: 13%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
    
}
.col{
    width: 30%;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    
}
.col h2{
    text-align: center;
    margin-right: 10%;
    margin-top: 8%;
    margin: auto;
    padding: 25px 0 20px;
    
    color: rgb(238, 39, 3);
}
.row p{
    width: 84%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 10%;
    margin: auto;
    justify-content: center;
}
.servicebtn{
    position: absolute;
    top: 100%;
    margin-left: 8%;
    background-color: #2b75a7;
    transition: 0.25s;
}
.servicebtn:hover{
    background-color: rgb(142, 240, 14);
    color: rgb(42, 27, 247);
    font-size: 1.25rem;
}
.row img{
    border-radius: 10px;
    display: flex;
    justify-content:center;
    margin: auto;
}
.about h2{
    font-weight: bold;
}
.col img{
    transition: .25s;  
    
}
.col img:hover{
    width: 360px;
    height: 350px;
}
@media screen and (max-width : 1024px){
    .row{
        display: flex;
        width: 90%;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 35%;
        
    }
    .col{
        width: 35%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 2px;
        
    }
    .col h2{
        text-align: center;
        margin-right: 10%;
        margin-top: 8%;
        margin: auto;
        padding: 25px 0 20px;
        
        color: rgb(238, 39, 3);
    }
    .row p{
        width: 88%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
    }
    .servicebtn{
        position: absolute;
        top: 100%;
        margin-left: 8%;
        background-color: #2b75a7;
        transition: 0.25s;
    }
    .col img:hover{
        width: 85%;
        height: 350px;
    }
}
@media screen and (max-width : 820px){
    .row{
        display: flex;
        width: 90%;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 25%;
        
    }
    .col{
        width: 35%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 2px;
        
    }
    .col h2{
        text-align: center;
        margin-right: 10%;
        margin-top: 8%;
        margin: auto;
        padding: 25px 0 20px;
        
        color: rgb(238, 39, 3);
    }
    .row p{
        width: 88%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
    }
    .servicebtn{
        position: absolute;
        top: 100%;
        margin-left: 8%;
        background-color: #2b75a7;
        transition: 0.25s;
    }
    .col img:hover{
        width: 85%;
        height: 350px;
    }
}

@media screen and (max-width : 768px){
    .row{
        display: flex;
        width: 90%;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 20%;
        
    }
    .col{
        width: 35%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 2px;
        
    }
    .col h2{
        text-align: center;
        margin-right: 10%;
        margin-top: 8%;
        margin: auto;
        padding: 25px 0 20px;
        font-size: 20px;
        color: rgb(238, 39, 3);
    }
    .row p{
        width: 88%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
    }
    .servicebtn{
        position: absolute;
        top: 100%;
        margin-left: 4%;
        font-size: small;
        background-color: #2b75a7;
        transition: 0.25s;
    }
    .col img{
        width: 85%;
        height: 220px;
    }
}
@media screen and (max-width : 480px){
    .row{
        display: flex;
        flex-direction:column;
        width: 90%;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 25%;
        
    }
    .services{
        height: 215vh;
        background-image: linear-gradient(to top, #65C18C,#F6F6F6);
    }
    .col{
        width: 95%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 2px;
        
    }
    .col h2{
        text-align: center;
        margin-right: 10%;
        margin-top: 8%;
        margin: auto;
        padding: 25px 0 20px;
        
        color: rgb(238, 39, 3);
    }
    .row p{
        width: 88%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
    }
    .servicebtn{
        position: absolute;
        top: 102%;
        margin-left:28%;
        background-color: #2b75a7;
        transition: 0.25s;
    }
}
@media screen and (max-width : 375px){
    .row{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 25%;
        
    }
    .services{
        height: 325vh;
        background-image: linear-gradient(to top, #65C18C,#F6F6F6);
    }
    .col{
        width: 95%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 2px;
        
    }
    .col h2{
        text-align: center;
        margin-right: 10%;
        margin-top: 8%;
        margin: auto;
        padding: 25px 0 20px;
        
        color: rgb(238, 39, 3);
    }
    .row p{
        width: 88%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
    }
    .servicebtn{
        position: absolute;
        top: 102%;
        margin-left: 26%;
        background-color: #2b75a7;
        transition: 0.25s;
    }
    .col img:hover{
        width: 85%;
        height: 350px;
    }
}
/* End of section 3 */
/* section 4 */
.portfolio{
    height: 100vh;
    background-image: linear-gradient(to top, #619181, #65C18C);
    
}

/* End of section 4 */
/* section 5 */
.contact{
    height: 50vh;
    background-image: linear-gradient(to top,#8A2BE2 , #619181);
    
}
#particles-js{
    background-color: rgb(52, 202, 240);
}
/* End of section 5 */
